In [2]:
import pandas as pd
import sqlite3

# 连接到SQLite数据库
conn = sqlite3.connect('mydatabase.db')

# 定义SQL查询
query = "SELECT * FROM sales_purchase"
query_test = "SELECT company_name, SUM(gross_profit) AS total_gross_profit FROM sales_purchase GROUP BY company_name ORDER BY total_gross_profit DESC"

# 使用Pandas读取数据
df = pd.read_sql_query(query_test, conn)

# 显示DataFrame
print(df)

# 关闭数据库连接
conn.close()

   company_name  total_gross_profit
0       南方大集东西湖          1016312.88
1          国贸集团           797817.78
2        国贸农产武汉           624188.33
3        南方大集能源           578423.60
4        南方大集江汉           566785.79
5         国贸金属矿           499661.46
6         国贸供应链           481552.66
7        国贸汽车红安           466405.46
8        南方大集慈惠           454137.39
9          国贸能化           447209.85
10        国贸农产品           424180.28
11         南方工贸           369609.69
12          鼎联丰           335662.71
13         国贸汽车           211923.67
14         华中能源           160197.38
15         南方集团            87791.80
16         南方大集          -316989.62

In [3]:
def prepare_sql_query(sql_query):
    """
    清理并准备SQL查询字符串。
    
    参数:
    sql_query (str): 原始的多行SQL查询字符串。
    
    返回:
    str: 清理后的单行SQL查询字符串。
    """
    # 去除字符串两端的空白字符
    sql_query = sql_query.strip()
    # 替换字符串中的换行符和多余的空格
    sql_query = ' '.join(sql_query.split())
    return sql_query

# 原始的多行SQL查询字符串
raw_sql = """
\nSELECT company_name, SUM(sales_amount) AS total_sales
FROM sales_purchase
WHERE YEAR(sales_settlement_date) = YEAR(CURDATE()) AND MONTH(sales_settlement_date) BETWEEN 1 AND 6
GROUP BY company_name;
"""

# 调用函数处理SQL查询
clean_sql = prepare_sql_query(raw_sql)

# 打印处理后的SQL查询
print(clean_sql)

SELECT company_name, SUM(sales_amount) AS total_sales FROM sales_purchase WHERE YEAR(sales_settlement_date) = YEAR(CURDATE()) AND MONTH(sales_settlement_date) BETWEEN 1 AND 6 GROUP BY company_name;